$tipback:rgba(255, 255, 255, 0.532);
.box{
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    // background-color: red;
    // margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    border-radius: 20px;
    .icon{
        width: 70%;
        height: 70%;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 130%;
            height: 130%;
        }
    }
    &:hover{
        .tip{
            display: flex;
            top: -50%;
            transform: scale(100%);
        }
    }
    .tip{
        display: flex;
        // display: none;
        box-sizing: content-box;
        padding: 0 5px;
        min-width: 60%;
        // width: ;
        height: 25px ;
        position:absolute;
        background-color: $tipback;
        font-size: 15px;
        // display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 5px;
        top: 0%;
        white-space: nowrap;
        transform: scale(0%);
        transition: all 0.25s ease;
        box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: .2);
        // backdrop-filter: blur(100px);
        &::before{
            content: '';
            border: 8px solid transparent;
            // border-top: 20PX solid rgb(234, 12, 12);
            border-top:8PX solid $tipback;
            position: relative;
            top: 100%;
            position: absolute;
            // backdrop-filter: blur(100px);
        }
    }
}