$bgcolor:rgba(239, 239, 239, 0.721);
.box{
    width: 100vw;
    height: 30px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    background-color: rgba(240, 237, 237, 0.408);
    // background-image: linear-gradient(to right, #6b11cbbb 0% rgba(37, 116, 252, 0.707) 100%);
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 1vw;
    z-index: 10000;
    
    // align-items: center;
    .zt{
        width: 50px;
        height: 30px;
        
        // margin-left: 1vw;
        .name{
            width: 50px;
            height: 26px;
            margin-top: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }
        .options{
            color: black;
            display: none;
            transition: none;
            
        }
        &:hover{
            .name{
                background-color: rgba(255, 255, 255, 0.168);
            }
            .options{
                margin-top: 2px;
                // border: 1px solid rgba(255, 255, 255, 0.274);
                display: flex;
                min-width: 160px;
                min-height: 40px;
                flex-direction: column;
                align-items: center;
                border-radius:5px;
                padding: 3px 10px;
                background-color: $bgcolor;
                backdrop-filter: blur(80px);
                .option{
                    min-width: 150px;
                    height: 20px;
                    margin: 3px 0 ;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    // justify-content: center;
                    border-radius: 2px;
                    &:hover{
                        background-color: rgb(62, 107, 255);
                        color: white;
                        
                    }
                }
            }
        }
    }
    
}