$tipback:rgba(255, 255, 255, 0.532);
.box{
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    // transition: all 0.3s ease-in;
    &:active{
        filter: brightness(50%) drop-shadow(0px 0px 10px rgb(58, 57, 57));
        
    }
    // padding: 0 10px;
    &:hover{
        // .iconbox{
        //     width: 100%;
        //     height: 100%;
        //     img{
        //         top: -20px;
        //     }
        // }
        .namebox{
            display: flex;
            top: -50%;
            transform: scale(100%);
        }
    }
    .tippoint{
        width: 4px;
        height: 4px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        bottom: -5px;
        border-radius: 50%;
    }

}
.iconbox{
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;

    img{
        width: 120%;
        height: 120%;
        position: relative;
    }

}
.namebox{
    display: flex;
    // display: none;
    box-sizing: content-box;
    padding: 0 5px;
    min-width: 60%;
    // width: ;
    height: 25px ;
    position:absolute;
    background-color: $tipback;
    font-size: 15px;
    // display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 5px;
    top: 0%;
    white-space: nowrap;
    transform: scale(0%);
    transition: all 0.25s ease;
    box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: .2);
    // backdrop-filter: blur(100px);
    &::before{
        content: '';
        border: 8px solid transparent;
        // border-top: 20PX solid rgb(234, 12, 12);
        border-top:8PX solid $tipback;
        position: relative;
        top: 100%;
        position: absolute;
        // backdrop-filter: blur(100px);
    }
}

.win{
    flex-shrink: 0;
    flex-grow: 0;
    position:absolute;
    top: 100px;
    width: 60vw;
    left: 200px;
    height: 60vh;
    background-color: rgb(243, 239, 243);
    box-shadow: 0px 0px 10px 10px rgba($color: #000000, $alpha: .09);
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(.19,.54,.4,1.06);
    transform-style: preserve-3d;
    overflow: hidden;

    .wtitle{
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(233,229,237);
        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    }
    .wbody{
        width: 100%;
        height: calc(100% - 40px);
        // background-color: blue;
        position: absolute;
        bottom: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.winctrl{
    width: 66px;
    height: 12px;
    // background-color: red;
    display: flex;
    justify-content: space-around;
    position:relative;
    top: 18px;
    left: 10px;
    z-index: 10000000;
    &:hover{
        .closd,.min,.max{
            color: rgb(0, 0, 0);
        }
        
    }
    .closd,.min,.max{
        width: 15px ;
        height: 15px ;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: transparent;
       
    }
    .closd{
        background-color: rgb(237, 106, 94);
    }
    .min{
        background-color: rgb(245, 191, 79);

    }
    .max{
        background-color: rgb(98, 197, 85);
    }
}