.box{
    // width: 400px;
    box-sizing: content-box;
    min-width: 400px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(50px);
    position: absolute;
    padding: 5px 10px 20px 10px;
    bottom: 10px;
    border-radius: 15px;
    display: flex;
    
}