.screen{
    width: 100vw;
    height: 100vh;
    background-image: url('./image/Monterey.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}